@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
// @font-face {
//     font-family: 'Oswald';
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: url(https://fonts.gstatic.com/s/oswald/v35/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
//     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//   }
html,
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(243, 239, 161);
    // background: rgba(253,215,129);
    canvas {
        width: 100%;
        height: 100%;
    }
}

.page {
    width: 70%;
    height: 100%;
    background: #f5ee65;
    position: fixed;
    right: 0;
    top: 0;
    transition: 3s;
    z-index: 999;
}

.page2 {
    width: 70%;
    height: 100%;
    background: #f5ef7d;
    position: fixed;
    left: 0;
    top: 0;
    transition: 3s;
    z-index: 999;
}

body.active .page {
    right: -100%;
}

body.active .page2 {
    left: -100%;
}

header .active {
    color: #000;
}

nav {
    width: 100%;
    position: fixed;
    text-align: center;
    margin: 4% 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    z-index: 998;
    display: none;
    a {
        color: #666ccd;
        text-decoration: none;
        letter-spacing: 0.2vw;
        padding-right: 3%;
        font-size: 0.9vw;
    }
    a:nth-of-type(4) {
        padding-right: 0;
    }
}

// ----------------------1------------------------
section:nth-of-type(1) {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150vh;
    .about_me {
        img {
            border: none;
            position: absolute;
            z-index: 1;
            transition: 1.5s;
        }
        .bubble {
            width: 22%;
            height: 22vw;
            position: absolute;
            left: -2%;
            top: 60%;
        }
        .bubble.active {
            top: 38%;
        }
        .bubble2 {
            width: 8%;
            height: 8vw;
            position: absolute;
            right: 4%;
            top: 55%;
        }
        .bubble2.active {
            top: 35%;
        }
        .bubble3 {
            width: 8%;
            height: 8vw;
            position: absolute;
            left: 6%;
            top: 30%;
        }
        .bubble3.active {
            top: 10%;
        }
        .bubble4 {
            width: 5%;
            height: 5vw;
            position: absolute;
            right: 13%;
            top: 35%;
        }
        .bubble4.active {
            top: 15%;
        }
        .text {
            text-align: center;
            color: #666ccd;
            padding: 20% 0 12% 0;
            font-size: 6vw;
            line-height: 11vw;
            letter-spacing: -0.5vw;
            z-index: 10;
            transition: 2.6s;
            h1 {
                margin: 0;
                font-weight: 300;
                transition: 4s;
                em {
                    -webkit-text-stroke: 2px #666CCD;
                    color: transparent;
                    font-style: normal;
                }
            }
        }
        .text.active {
            padding: 12% 0;
        }
        .img {
            width: 15%;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 80%;
            z-index: 11;
            transition: 3s;
            img {
                width: 100%;
                animation: imgMove 5s 1.8s infinite linear normal;
            }
        }
        @keyframes imgMove {
            0% {
                transform: translate(-50%, -5%);
                left: 50%;
            }
            30% {
                transform: translate(-50%, -3%);
                left: 45%;
            }
            70% {
                transform: translate(-50%, 1%);
                left: 55%;
            }
            100% {
                transform: translate(-50%, -5%);
                left: 50%;
            }
        }
        .img.active {
            top: 40%
        }
        .text2 {
            text-align: center;
            font-size: 1.2vw;
            line-height: 1.35;
            color: #666ccd;
            padding: 0 0 15% 0;
            letter-spacing: 0.01vw;
            opacity: 0;
            h2 {
                font-weight: 300;
                b {
                    font-weight: 600;
                }
            }
        }
    }
}

// -------------------2---------------------------
section:nth-of-type(2) {
    .skill {
        padding-top: 20%;
        overflow: hidden;
        canvas {
            width: 100vw;
            height: 35vw;
        }
        .skill_text {
            color: #cc3362;
            padding-left: 5%;
            font-size: 5vw;
            letter-spacing: -0.5vw;
            z-index: 10;
            // opacity: 0;
            h1 {
                margin: 0;
                strong {
                    font-size: 11.5vw;
                }
                em {
                    -webkit-text-stroke: 2px #cc3362;
                    color: transparent;
                    font-style: normal;
                }
            }
        }
        .skill_text2 {
            text-align: center;
            font-size: 2.8vw;
            padding-bottom: 20%;
            color: #cc3362;
            letter-spacing: 0.01vw;
            opacity: 0;
            h2 {
                margin: 0;
                font-weight: 400;
            }
        }
        .click_text {
            font-family: 'Montserrat', sans-serif;
            color: #cc3362;
            padding-top: 43%;
            font-size: 3.9vw;
            z-index: 10;
            position: relative;
            h1 {
                margin: 0;
                position: absolute;
                right: -100%;
                top: 78%;
                em {
                    -webkit-text-stroke: 2px #cc3362;
                    color: transparent;
                    font-style: normal;
                }
            }
        }
    }
}

// ----------------------3------------------------
section:nth-of-type(3) {
    .project1 {
        display: flex;
        .p1_left {
            background: #00a6c7;
            width: 38%;
            height: 100vh;
            font-size: 4.2vw;
            color: #ecd2e1;
            h1 {
                margin: 0%;
                padding: 12% 0 0 6%;
                font-weight: 600;
                letter-spacing: -0.2vw;
            }
            h2 {
                -webkit-text-stroke: 2px #ecd2e1;
                color: transparent;
                font-size: 5vw;
                margin: 0;
                font-weight: 600;
                padding-left: 7%;
                strong {
                    color: #ecd2e1;
                    font-size: 12.5vw;
                }
            }
        }
        .p1_right {
            background: #ecd2e1;
            width: 62%;
            position: relative;
            .p1_right_text {
                position: absolute;
                width: 100%;
                font-size: 3.1vw;
                color: #00a6c7;
                text-align: center;
                line-height: 5vw;
                letter-spacing: -0.1vw;
                h2 {
                    text-align: center;
                    margin: 0;
                    padding: 10% 0 5% 0;
                    font-weight: 700;
                    small {
                        -webkit-text-stroke: 2px #00a6c7;
                        color: transparent;
                        font-size: 4.2vw;
                    }
                }
                a {
                    color: #ecd2e1;
                    background: #00a6c7;
                    border: none;
                    padding: 2%;
                    font-size: 1.5vw;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
            img {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 45%;
                width: 60%;
                animation: imgMove1 5s 0s infinite linear normal;
            }
            @keyframes imgMove1 {
                0% {
                    transform: translate(-50%, -50%);
                    left: 50%;
                }
                30% {
                    transform: translate(-50%, -48%);
                    left: 51%;
                }
                70% {
                    transform: translate(-50%, -43%);
                    left: 48%;
                }
                100% {
                    transform: translate(-50%, -50%);
                    left: 50%;
                }
            }
        }
        .p1_right:hover {
            h2 {
                padding: 3.5% 0 1% 0;
                transition: .5s;
            }
            img {
                top: 35%;
                transition: .5s;
            }
        }
    }
    .project2 {
        display: flex;
        .p2_left {
            background: #666ccd;
            width: 38%;
            height: 100vh;
            font-size: 4.2vw;
            color: #f3efa1;
            h1 {
                margin: 0%;
                padding: 20% 0 0 6%;
                font-weight: 600;
                letter-spacing: -0.2vw;
            }
            h2 {
                -webkit-text-stroke: 2px #f3efa1;
                color: transparent;
                font-size: 5vw;
                margin: 0;
                padding-top: 15%;
                font-weight: 600;
                padding-left: 7%;
                strong {
                    color: #f3efa1;
                    font-size: 12.5vw;
                }
            }
        }
        .p2_right {
            background: #80b59a;
            width: 62%;
            position: relative;
            overflow: hidden;
            .p2_right_text {
                position: absolute;
                width: 100%;
                font-size: 3.4vw;
                color: #f3efa1;
                text-align: center;
                line-height: 5.5vw;
                letter-spacing: -0.1vw;
                h2 {
                    text-align: center;
                    margin: 0;
                    padding: 13% 0 4.1% 0;
                    font-weight: 700;
                    small {
                        -webkit-text-stroke: 2px #f3efa1;
                        color: transparent;
                        font-size: 4.2vw;
                    }
                }
                a {
                    color: #80b59a;
                    background: #f3efa1;
                    border: none;
                    padding: 2%;
                    font-size: 1.5vw;
                    font-weight: 600;
                    text-decoration: none;
                    display: none;
                }
            }
            img {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                width: 55%;
                animation: imgMove1 5s 0s infinite linear normal;
            }
        }
        .p2_right:hover {
            a {
                display: inline;
            }
            h2 {
                padding: 5% 0 1% 0;
                transition: .5s;
            }
            img {
                top: 40%;
                transition: .5s;
            }
        }
    }
}

// ----------------------4------------------------
section:nth-of-type(4) {
    .contact_info {
        position: relative;
        img {
            border: none;
            position: absolute;
        }
        .info_bubble {
            width: 60%;
            height: 70vh;
            left: -5%;
            top: 40%;
            z-index: 6;
            animation: imgMove2 6s 0s infinite linear normal;
        }
        @keyframes imgMove2 {
            0% {
                left: -5%;
                top: 40%;
            }
            30% {
                left: -3%;
                top: 39%;
            }
            70% {
                left: -4%;
                top: 38%;
            }
            100% {
                left: -5%;
                top: 40%;
            }
        }
        .info_bubble_sub {
            width: 15%;
            height: 20vh;
            left: 38%;
            top: 65%;
            z-index: 5;
            animation: imgMove2_1 6s 0s infinite linear normal;
        }
        @keyframes imgMove2_1 {
            0% {
                left: 38%;
                top: 65%;
            }
            30% {
                left: 40%;
                top: 64%;
            }
            70% {
                left: 39%;
                top: 63%;
            }
            100% {
                left: 38%;
                top: 65%;
            }
        }
        .info_bubble2 {
            width: 30%;
            height: 70vh;
            right: 6%;
            top: 10%;
            z-index: 6;
            transform: rotate(-15deg);
            animation: imgMove3 6s 0s infinite linear normal;
        }
        @keyframes imgMove3 {
            0% {
                right: 6%;
                top: 10%;
            }
            30% {
                right: 8%;
                top: 9%;
            }
            70% {
                right: 7%;
                top: 8%;
            }
            100% {
                right: 6%;
                top: 10%;
            }
        }
        .info_bubble3 {
            width: 30%;
            height: 50vh;
            right: 7%;
            top: 60%;
            z-index: 6;
            transform: rotate(15deg);
            animation: imgMove4 6s 0s infinite linear normal;
        }
        @keyframes imgMove4 {
            0% {
                right: 7%;
                top: 60%;
            }
            30% {
                right: 9%;
                top: 59%;
            }
            70% {
                right: 8%;
                top: 58%;
            }
            100% {
                right: 7%;
                top: 60%;
            }
        }
        .sub_bubble {
            width: 20%;
            height: 20vh;
            left: 25%;
            top: 23%;
            z-index: 5;
            transform: rotate(-15deg);
            animation: imgMove5 6s 0s infinite linear normal;
        }
        @keyframes imgMove5 {
            0% {
                left: 25%;
                top: 23%;
            }
            30% {
                left: 30%;
                top: 21%;
            }
            70% {
                left: 27%;
                top: 19%;
            }
            100% {
                left: 25%;
                top: 23%;
            }
        }
        .sub_bubble2 {
            width: 10%;
            height: 7vh;
            left: 26%;
            top: 30.5%;
            z-index: 6;
            transform: rotate(-15deg);
            animation: imgMove6 6s 0s infinite linear normal;
        }
        @keyframes imgMove6 {
            0% {
                left: 26%;
                top: 30.5%;
            }
            30% {
                left: 31%;
                top: 28.5%;
            }
            70% {
                left: 28%;
                top: 26.5%;
            }
            100% {
                left: 26%;
                top: 30.5%;
            }
        }
        // ------------------text-------------------------
        p {
            color: #666ccd;
        }
        .title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .info_bubble_text {
            position: absolute;
            left: 2%;
            top: 43%;
            z-index: 10;
            text-align: center;
            line-height: 1;
            animation: imgMoveinfo1 6s 0s infinite linear normal;
            @keyframes imgMoveinfo1 {
                0% {
                    left: 2%;
                    top: 43%;
                }
                30% {
                    left: 4%;
                    top: 42%;
                }
                70% {
                    left: 3%;
                    top: 41%;
                }
                100% {
                    left: 2%;
                    top: 43%;
                }
            }
            .email {
                font-size: 7vw;
                font-weight: 500;
            }
            .title {
                font-size: 1.3vw;
                transform: translate(-2%, -200%)
            }
        }
        .info_bubble_text2 {
            position: absolute;
            right: 9%;
            top: 10%;
            z-index: 10;
            text-align: center;
            line-height: 1;
            transform: rotate(-15deg);
            animation: imgMoveinfo2 6s 0s infinite linear normal;
            @keyframes imgMoveinfo2 {
                0% {
                    right: 9%;
                    top: 10%;
                }
                30% {
                    right: 11%;
                    top: 9%;
                }
                70% {
                    right: 10%;
                    top: 8%;
                }
                100% {
                    right: 9%;
                    top: 10%;
                }
            }
            .number {
                font-size: 7vw;
                font-weight: 500;
            }
            .title {
                font-size: 1.2vw;
                transform: translate(8%, -300%);
            }
        }
        .info_bubble_text3 {
            position: absolute;
            right: 10%;
            top: 62%;
            z-index: 10;
            text-align: center;
            line-height: 1;
            transform: rotate(15deg);
            animation: imgMoveinfo3 6s 0s infinite linear normal;
            @keyframes imgMoveinfo3 {
                0% {
                    right: 10%;
                    top: 62%;
                }
                30% {
                    right: 12%;
                    top: 61%;
                }
                70% {
                    right: 11%;
                    top: 60%;
                    ;
                }
                100% {
                    right: 10%;
                    top: 62%;
                }
            }
            .id {
                font-size: 6vw;
                font-weight: 500;
            }
            .title {
                font-size: 1.2vw;
                transform: translate(-2%, -150%);
            }
        }
        .last {
            padding-top: 200vh;
            padding-bottom: 3%;
            text-align: center;
            font-size: 2vw;
            h3 {
                margin: 0;
                color: #666ccd;
                font-weight: 500;
            }
        }
    }
}

@media ( max-width: 1024x) {
    nav {
        width: 100%;
        position: fixed;
        text-align: center;
        margin: 4% 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        z-index: 998;
        display: none;
        a {
            color: #666ccd;
            text-decoration: none;
            letter-spacing: 0.2vw;
            padding-right: 3%;
            font-size: 0.9vw;
        }
        a:nth-of-type(4) {
            padding-right: 0;
        }
    }
    // ----------------------1------------------------
    section:nth-of-type(1) {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 150vh;
        .about_me {
            img {
                border: none;
                position: absolute;
                z-index: 1;
                transition: 1.5s;
            }
            .bubble {
                width: 22%;
                height: 22vw;
                position: absolute;
                left: -2%;
                top: 60%;
            }
            .bubble.active {
                top: 38%;
            }
            .bubble2 {
                width: 8%;
                height: 8vw;
                position: absolute;
                right: 4%;
                top: 55%;
            }
            .bubble2.active {
                top: 35%;
            }
            .bubble3 {
                width: 8%;
                height: 8vw;
                position: absolute;
                left: 6%;
                top: 30%;
            }
            .bubble3.active {
                top: 10%;
            }
            .bubble4 {
                width: 5%;
                height: 5vw;
                position: absolute;
                right: 13%;
                top: 35%;
            }
            .bubble4.active {
                top: 15%;
            }
            .text {
                text-align: center;
                color: #666ccd;
                padding: 20% 0 12% 0;
                font-size: 6vw;
                line-height: 11vw;
                letter-spacing: -0.5vw;
                z-index: 10;
                transition: 2.6s;
                h1 {
                    margin: 0;
                    font-weight: 300;
                    transition: 4s;
                    em {
                        -webkit-text-stroke: 2px #666CCD;
                        color: transparent;
                        font-style: normal;
                    }
                }
            }
            .text.active {
                padding: 12% 0;
            }
            .img {
                width: 15%;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 80%;
                z-index: 11;
                transition: 3s;
                img {
                    width: 100%;
                    animation: imgMove 5s 1.8s infinite linear normal;
                }
            }
            @keyframes imgMove {
                0% {
                    transform: translate(-50%, -5%);
                    left: 50%;
                }
                30% {
                    transform: translate(-50%, -3%);
                    left: 45%;
                }
                70% {
                    transform: translate(-50%, 1%);
                    left: 55%;
                }
                100% {
                    transform: translate(-50%, -5%);
                    left: 50%;
                }
            }
            .img.active {
                top: 40%
            }
            .text2 {
                text-align: center;
                font-size: 1.2vw;
                line-height: 1.35;
                color: #666ccd;
                padding: 0 0 15% 0;
                letter-spacing: 0.01vw;
                opacity: 0;
                h2 {
                    font-weight: 300;
                    b {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}