@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
html,
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  background: #666ccd;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  z-index: 999;
}

body.active .page {
  right: -100%;
}

.background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  background: #80b59a;
}

.background canvas {
  width: 100%;
  height: 100%;
}

aside {
  padding: 1%;
  background: #fff;
  color: black;
  font-size: 1vw;
  position: fixed;
  right: 8%;
  top: 85%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  display: none;
}

nav {
  padding: 2% 2%;
  display: none;
}

nav a {
  border: none;
  background: none;
  font-family: 'Oswald', sans-serif;
  color: #f2ed92;
  font-size: 2.5vw;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
}

nav a:nth-of-type(1) {
  float: left;
}

nav a:nth-of-type(1):hover {
  color: #666ccd;
}

nav a:nth-of-type(2) {
  float: right;
}

nav a:nth-of-type(2):hover {
  color: #666ccd;
}

.main {
  padding-top: 7%;
}

.main h1 {
  font-size: 6.5vw;
  color: #f2ed92;
  margin: 0;
  letter-spacing: -0.1vw;
  white-space: nowrap;
  -webkit-transform: translate(-80%, 0);
          transform: translate(-80%, 0);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.main h1.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main img {
  width: 30%;
  margin-top: 0%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.main img.active {
  width: 35%;
  margin-top: 0%;
  opacity: 1;
}

.main p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 2.2vw;
  -webkit-transform: translate(0, 1%);
          transform: translate(0, 1%);
  margin-top: 2%;
  opacity: 0;
}

h2 {
  font-size: 3.5vw;
  color: #f2ed92;
  margin: 0;
  margin-top: 10%;
  letter-spacing: -0.1vw;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box p {
  letter-spacing: -0.1vw;
  font-size: 3.2vw;
  background: #eeeeee;
  border: 5px solid black;
  width: 16%;
  padding: 1.5% 0;
  margin-left: 4%;
  font-weight: 600;
}

.box p:nth-of-type(1) {
  margin-left: 0;
}

.site_map {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
}

.site_map .box p {
  font-family: '함초롬돋움';
}

.reactive_web {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
}

.title {
  font-size: 2vw;
  color: black;
  margin: 0;
  margin-top: 10%;
  letter-spacing: -0.1vw;
  font-weight: 500;
}

.suggections {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  opacity: 0;
}

.suggections .ex {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.5vw;
  margin: 0;
  margin: 1% 0;
}

.suggections img {
  border: 11px solid black;
  border-radius: 6%;
  width: 50%;
}

.suggections .first {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
}

.suggections .first .title {
  margin-top: 3%;
}

.suggections .second {
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  opacity: 0;
}

.suggections .third {
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  opacity: 0;
}

.box2 {
  font-family: 'Montserrat', sans-serif;
  color: #606161;
  text-align: left;
  width: 350px;
  height: 350px;
  border: 3px solid black;
  background: #eeeeee;
  padding: 10%;
  line-height: 2;
  margin: 10% auto;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: -0.05vw;
}

.used div {
  margin: 10% 5%;
  margin-bottom: 5%;
}

.used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
}

.btn {
  margin-bottom: 5%;
}

.btn a {
  border: none;
  background: #f2ed92;
  color: #80b59a;
  font-size: 2vw;
  letter-spacing: -0.1vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  padding: 1% 2%;
  text-decoration: none;
}

.btn a:hover {
  color: #666ccd;
}

@media screen and (max-width: 1024px) {
  aside {
    padding: 1%;
    background: #fff;
    color: black;
    font-size: 1.8vw;
    position: fixed;
    right: 10%;
    top: 85%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    display: none;
  }
  nav {
    padding: 2% 2% 0 2%;
    display: none;
  }
  nav a {
    border: none;
    background: none;
    font-family: 'Oswald', sans-serif;
    color: #f2ed92;
    font-size: 3vw;
    font-weight: 600;
    text-decoration: none;
  }
  nav a:nth-of-type(1) {
    float: left;
  }
  nav a:nth-of-type(2) {
    float: right;
  }
  .main {
    padding-top: 10%;
  }
  .main h1 {
    font-size: 8.5vw;
    color: #f2ed92;
    margin: 0;
    letter-spacing: -0.1vw;
    white-space: nowrap;
    -webkit-transform: translate(-80%, 0);
            transform: translate(-80%, 0);
    -webkit-transition: 1.2s;
    transition: 1.2s;
  }
  .main h1.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .main img {
    width: 43%;
    margin-top: 0%;
    -webkit-transition: 2s;
    transition: 2s;
    opacity: 0;
  }
  .main img.active {
    width: 50%;
    margin-top: 0%;
    opacity: 1;
  }
  .main p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 2.7vw;
    -webkit-transform: translate(0, 1%);
            transform: translate(0, 1%);
    margin-top: 3.5%;
    opacity: 0;
  }
  h2 {
    font-size: 4vw;
    color: #f2ed92;
    margin: 0;
    margin-top: 15%;
    letter-spacing: -0.1vw;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box p {
    letter-spacing: -0.1vw;
    font-size: 4vw;
    background: #eeeeee;
    border: 5px solid black;
    width: 19%;
    padding: 1.5% 0;
    margin-left: 4%;
    font-weight: 600;
  }
  .box p:nth-of-type(1) {
    margin-left: 0;
  }
  .site_map {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    opacity: 0;
  }
  .reactive_web {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    opacity: 0;
  }
  .title {
    font-size: 3vw;
    color: black;
    margin: 0;
    margin-top: 10%;
    letter-spacing: -0.1vw;
    font-weight: 500;
  }
  .suggections {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    opacity: 0;
  }
  .suggections .ex {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 0;
    margin: 1% 0;
  }
  .suggections img {
    border: 9px solid black;
    border-radius: 6%;
    width: 65%;
  }
  .suggections .first {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    opacity: 0;
  }
  .suggections .first .title {
    margin-top: 3%;
  }
  .suggections .second {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
    opacity: 0;
  }
  .suggections .third {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
    opacity: 0;
  }
  .box2 {
    font-family: 'Montserrat', sans-serif;
    color: #606161;
    text-align: left;
    width: 220px;
    height: 220px;
    border: 2px solid black;
    background: #eeeeee;
    padding: 5% 8%;
    line-height: 2;
    margin: 10% auto;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: -0.05vw;
  }
  .used div {
    margin: 15% 5% 10% 5%;
  }
  .used {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    opacity: 0;
  }
  .used .title {
    font-size: 2.5vw;
  }
  .btn {
    margin-bottom: 10%;
  }
  .btn a {
    border: none;
    background: #f2ed92;
    color: #80b59a;
    font-size: 2.8vw;
    letter-spacing: -0.1vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    padding: 1% 2%;
    text-decoration: none;
  }
  .btn a:hover {
    color: #666ccd;
  }
}
/*# sourceMappingURL=project2.css.map */