@import url("common.css");
main {
    .main {
        .logo {
            margin: 5% 0 0 2.8%;
            a {
                img {
                    width: 5%;
                }
            }
        }
        .main_pro {
            display: flex;
            justify-content: flex-end;
            align-items: top;
            font-family: "함초롬돋움";
            margin: 2% 0 6% 0;
            .left {
                width: 20%;
                text-align: center;
                img {
                    width: 100%;
                }
                p {
                    margin: 3% 0;
                    font-size: 0.8vw;
                    font-weight: bold;
                }
            }
            .right {
                width: 23%;
                margin-right: 13%;
                .right_main {
                    border-bottom: 1.5px solid#000;
                    .main_type {
                        margin: 0;
                        color: #666666;
                        font-size: 0.8vw;
                    }
                    .main_name {
                        margin: 4% 0;
                        font-size: 1.5vw;
                    }
                    .main_ex {
                        margin: 0;
                        color: #666666;
                        font-size: 0.8vw;
                        margin-bottom: 6%;
                    }
                }
                .right_ex {
                    .ex_block1 {
                        border-bottom: 1px solid#dcdcdc;
                        font-size: 0.8vw;
                        padding: 3% 0;
                        .ex_t {
                            margin: 0;
                            margin-bottom: 1%;
                        }
                        .ex_s {
                            color: #3e3e3e;
                            margin: 0;
                        }
                    }
                    .ex_block2 {
                        border-bottom: 1px solid#dcdcdc;
                        font-size: 0.8vw;
                        padding: 3% 0;
                        .ex_t {
                            margin: 0;
                            margin-bottom: 1%;
                        }
                        .ex_s {
                            color: #3e3e3e;
                            margin: 0;
                        }
                    }
                    .ex_block3 {
                        font-size: 0.8vw;
                        padding: 3% 0 0 0;
                        .ex_t {
                            margin: 0;
                            margin-bottom: 1%;
                        }
                        .ex_s {
                            color: #3e3e3e;
                            margin: 0;
                        }
                    }
                }
            }
            a {
                color: white;
                text-decoration: none;
                text-align: center;
                font-size: 0.7vw;
                div {
                    background: #000;
                    padding: 4% 0;
                    margin-top: 6%;
                }
            }
        }
    }
    // ----------------------------------------------
    .product_ex {
        font-family: "함초롬돋움";
        .ex_1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 30vw;
            .left1 {
                width: 50%;
                height: 100%;
                background: #eceade;
                position: relative;
                img {
                    width: 55%;
                    position: absolute;
                    right: 0;
                    top: 19%;
                }
            }
            .right1 {
                width: 50%;
                height: 100%;
                background: #f6f5e8;
                position: relative;
                div {
                    position: absolute;
                    left: 25%;
                    top: 25%;
                    width: 50%;
                    h2 {
                        font-family: "Batang";
                        font-weight: normal;
                        font-size: 1.4vw;
                        border-bottom: 1px solid #a7a69e;
                        padding-bottom: 4%;
                        color: black;
                    }
                    .r_1 {
                        color: #6f6d64;
                        font-size: 0.85vw;
                        margin: 6% 0 7% 0;
                    }
                    .r_2 {
                        color: #a7a69e;
                        font-size: 0.85vw;
                        line-height: 28px;
                    }
                }
            }
        }
        .ex_2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 30vw;
            .left2 {
                width: 50%;
                height: 100%;
                background: #f6f5e8;
                position: relative;
                div {
                    position: absolute;
                    left: 25%;
                    top: 25%;
                    width: 45%;
                    h2 {
                        font-family: "Batang";
                        font-weight: normal;
                        font-size: 1.4vw;
                        border-bottom: 1px solid #a7a69e;
                        padding-bottom: 4%;
                        color: black;
                    }
                    .r_1 {
                        color: #6f6d64;
                        font-size: 0.85vw;
                        margin: 6% 0 7% 0;
                    }
                    .r_2 {
                        color: #a7a69e;
                        font-size: 0.85vw;
                        line-height: 28px;
                    }
                }
            }
            .right2 {
                width: 50%;
                height: 100%;
                background: #eceade;
                position: relative;
                img {
                    width: 55%;
                    position: absolute;
                    left: 0;
                    top: 19%;
                }
            }
        }
    }
    .product_to {
        font-family: '함초롬돋움';
        position: relative;
        .up {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3% 0% 1.5% 4.5%;
            .to_w {
                width: 16%;
                .to_w_t {
                    font-family: '함초롬바탕';
                    font-size: 1.3vw;
                }
                .to_w_e {
                    color: #a7a69e;
                    font-size: 0.8vw;
                    line-height: 1.5vw;
                }
            }
            .to_p {
                display: flex;
                justify-content: space-between;
                width: 80%;
                text-align: center;
                div {
                    width: 100%;
                    a {
                        text-decoration: none;
                        color: black;
                        img {
                            width: 100%;
                        }
                        p {
                            margin: 0;
                            font-size: 0.83vw;
                        }
                    }
                }
            }
        }
        .bar {
            width: 90%;
            margin: 1% auto 3% auto;
            background: #dcdcdc;
            height: 2px;
            position: relative;
            span {
                border: 1px solid #000;
                width: 20%;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}


/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */

@media(max-width:1024px) {
    main {
        .main {
            .logo {
                margin: 10% 0 0 4%;
                a {
                    img {
                        width: 8%;
                    }
                }
            }
            .main_pro {
                display: flex;
                justify-content: flex-end;
                align-items: top;
                font-family: "함초롬돋움";
                margin: 3% 0 7% 0;
                .left {
                    width: 33%;
                    text-align: center;
                    img {
                        width: 100%;
                    }
                    p {
                        margin: 3% 0;
                        font-size: 1.2vw;
                        font-weight: bold;
                    }
                }
                .right {
                    width: 30%;
                    margin-right: 10%;
                    .right_main {
                        border-bottom: 1.5px solid#000;
                        .main_type {
                            margin: 0;
                            color: #666666;
                            font-size: 1.2vw;
                        }
                        .main_name {
                            margin: 5% 0;
                            font-size: 2vw;
                        }
                        .main_ex {
                            margin: 0;
                            color: #666666;
                            font-size: 1.2vw;
                            margin-bottom: 8%;
                        }
                    }
                    .right_ex {
                        .ex_block1 {
                            border-bottom: 1px solid#dcdcdc;
                            font-size: 1.2vw;
                            padding: 4% 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                        .ex_block2 {
                            border-bottom: 1px solid#dcdcdc;
                            font-size: 1.2vw;
                            padding: 4% 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                        .ex_block3 {
                            font-size: 1.2vw;
                            padding: 4% 0 0 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                    }
                }
                a {
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    font-size: 1.2vw;
                    div {
                        background: #000;
                        padding: 5% 0;
                        margin-top: 8%;
                    }
                }
            }
        }
        // ----------------------------------------------
        .product_ex {
            font-family: "함초롬돋움";
            .ex_1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 40vw;
                .left1 {
                    width: 50%;
                    height: 100%;
                    background: #eceade;
                    position: relative;
                    img {
                        width: 70%;
                        position: absolute;
                        right: 0;
                        top: 19%;
                    }
                }
                .right1 {
                    width: 50%;
                    height: 100%;
                    background: #f6f5e8;
                    position: relative;
                    div {
                        position: absolute;
                        left: 18%;
                        top: 25%;
                        width: 65%;
                        h2 {
                            font-family: "Batang";
                            font-weight: normal;
                            font-size: 2vw;
                            border-bottom: 1px solid #a7a69e;
                            padding-bottom: 4%;
                            color: black;
                        }
                        .r_1 {
                            color: #6f6d64;
                            font-size: 1.4vw;
                            margin: 6% 0 7% 0;
                        }
                        .r_2 {
                            color: #a7a69e;
                            font-size: 1.3vw;
                            line-height: 28px;
                        }
                    }
                }
            }
            .ex_2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 40vw;
                .left2 {
                    width: 50%;
                    height: 100%;
                    background: #f6f5e8;
                    position: relative;
                    div {
                        position: absolute;
                        left: 19%;
                        top: 25%;
                        width: 65%;
                        h2 {
                            font-family: "Batang";
                            font-weight: normal;
                            font-size: 2vw;
                            border-bottom: 1px solid #a7a69e;
                            padding-bottom: 4%;
                            color: black;
                        }
                        .r_1 {
                            color: #6f6d64;
                            font-size: 1.3vw;
                            margin: 6% 0 7% 0;
                        }
                        .r_2 {
                            color: #a7a69e;
                            font-size: 1.3vw;
                            line-height: 28px;
                        }
                    }
                }
                .right2 {
                    width: 50%;
                    height: 100%;
                    background: #eceade;
                    position: relative;
                    img {
                        width: 70%;
                        position: absolute;
                        left: 0;
                        top: 19%;
                    }
                }
            }
        }
        .product_to {
            font-family: '함초롬돋움';
            position: relative;
            .up {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 3% 0% 1.5% 4.5%;
                .to_w {
                    width: 23%;
                    .to_w_t {
                        font-family: '함초롬바탕';
                        font-size: 2vw;
                    }
                    .to_w_e {
                        color: #a7a69e;
                        font-size: 1.2vw;
                        line-height: 2.4vw;
                    }
                }
                .to_p {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                    text-align: center;
                    div {
                        width: 100%;
                        a {
                            text-decoration: none;
                            color: black;
                            img {
                                width: 100%;
                            }
                            p {
                                margin: 0;
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
            .bar {
                width: 90%;
                margin: 1% auto 3% auto;
                background: #dcdcdc;
                height: 2px;
                position: relative;
                span {
                    border: 1px solid #000;
                    width: 20%;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

@media(max-width:768px) {
    main {
        .main {
            .logo {
                margin: 15% 0 0 6%;
                a {
                    img {
                        width: 15%;
                    }
                }
            }
            .main_pro {
                display: flex;
                justify-content: flex-end;
                align-items: top;
                font-family: "함초롬돋움";
                margin: 5% 0 9% 0;
                .left {
                    width: 45%;
                    text-align: center;
                    margin-top: 5%;
                    img {
                        width: 100%;
                    }
                    p {
                        margin: 3% 0;
                        font-size: 2vw;
                        font-weight: bold;
                    }
                }
                .right {
                    width: 45%;
                    margin-right: 10%;
                    .right_main {
                        border-bottom: 1.5px solid#000;
                        .main_type {
                            margin: 0;
                            color: #666666;
                            font-size: 2vw;
                        }
                        .main_name {
                            margin: 5% 0;
                            font-size: 3.2vw;
                        }
                        .main_ex {
                            margin: 0;
                            color: #666666;
                            font-size: 2vw;
                            margin-bottom: 8%;
                        }
                    }
                    .right_ex {
                        .ex_block1 {
                            border-bottom: 1px solid#dcdcdc;
                            font-size: 2vw;
                            padding: 4% 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                        .ex_block2 {
                            border-bottom: 1px solid#dcdcdc;
                            font-size: 2vw;
                            padding: 4% 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                        .ex_block3 {
                            font-size: 2vw;
                            padding: 4% 0 0 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                    }
                }
                a {
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    font-size: 2vw;
                    div {
                        background: #000;
                        padding: 5% 0;
                        margin-top: 8%;
                    }
                }
            }
        }
        // ----------------------------------------------
        .product_ex {
            font-family: "함초롬돋움";
            .ex_1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 50vh;
                .left1 {
                    width: 50%;
                    height: 100%;
                    background: #eceade;
                    position: relative;
                    img {
                        width: 90%;
                        position: absolute;
                        right: 0;
                        top: 25%;
                    }
                }
                .right1 {
                    width: 50%;
                    height: 100%;
                    background: #f6f5e8;
                    position: relative;
                    div {
                        position: absolute;
                        left: 6%;
                        top: 25%;
                        width: 90%;
                        h2 {
                            font-family: "Batang";
                            font-weight: normal;
                            font-size: 3vw;
                            border-bottom: 1px solid #a7a69e;
                            padding-bottom: 4%;
                            color: black;
                        }
                        .r_1 {
                            color: #6f6d64;
                            font-size: 2.3vw;
                            margin: 6% 0 7% 0;
                        }
                        .r_2 {
                            color: #a7a69e;
                            font-size: 2vw;
                            line-height: 28px;
                        }
                    }
                }
            }
            .ex_2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 50vh;
                .left2 {
                    width: 50%;
                    height: 100%;
                    background: #f6f5e8;
                    position: relative;
                    div {
                        position: absolute;
                        left: 6%;
                        top: 25%;
                        width: 90%;
                        h2 {
                            font-family: "Batang";
                            font-weight: normal;
                            font-size: 3vw;
                            border-bottom: 1px solid #a7a69e;
                            padding-bottom: 4%;
                            color: black;
                        }
                        .r_1 {
                            color: #6f6d64;
                            font-size: 2vw;
                            margin: 6% 0 7% 0;
                        }
                        .r_2 {
                            color: #a7a69e;
                            font-size: 2vw;
                            line-height: 28px;
                        }
                    }
                }
                .right2 {
                    width: 50%;
                    height: 100%;
                    background: #eceade;
                    position: relative;
                    img {
                        width: 90%;
                        position: absolute;
                        left: 0;
                        top: 25%;
                    }
                }
            }
        }
        .product_to {
            font-family: '함초롬돋움';
            position: relative;
            .up {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 3% 0% 1.5% 4.5%;
                .to_w {
                    width: 23%;
                    .to_w_t {
                        font-family: '함초롬바탕';
                        font-size: 3.3vw;
                    }
                    .to_w_e {
                        color: #a7a69e;
                        font-size: 2vw;
                        line-height: 3.4vw;
                        display: none;
                    }
                }
                .to_p {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                    text-align: center;
                    div {
                        width: 100%;
                        a {
                            text-decoration: none;
                            color: black;
                            img {
                                width: 100%;
                            }
                            p {
                                margin: 0;
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
            .bar {
                width: 90%;
                margin: 1% auto 3% auto;
                background: #dcdcdc;
                height: 2px;
                position: relative;
                span {
                    border: 1px solid #000;
                    width: 20%;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

@media(max-width:480px) {
    main {
        .main {
            .logo {
                margin: 20% 0 0 6%;
                a {
                    img {
                        width: 20%;
                    }
                }
            }
            .main_pro {
                display: flex;
                justify-content: flex-end;
                align-items: top;
                font-family: "함초롬돋움";
                margin: 5% 0 9% 0;
                .left {
                    width: 45%;
                    text-align: center;
                    margin-top: 15%;
                    img {
                        width: 100%;
                    }
                    p {
                        margin: 3% 0;
                        font-size: 3vw;
                        font-weight: bold;
                    }
                }
                .right {
                    width: 45%;
                    margin-right: 5%;
                    .right_main {
                        border-bottom: 1.5px solid#000;
                        .main_type {
                            margin: 0;
                            color: #666666;
                            font-size: 2.8vw;
                        }
                        .main_name {
                            margin: 5% 0;
                            font-size: 4.2vw;
                        }
                        .main_ex {
                            margin: 0;
                            color: #666666;
                            font-size: 2.8vw;
                            margin-bottom: 8%;
                        }
                    }
                    .right_ex {
                        .ex_block1 {
                            border-bottom: 1px solid#dcdcdc;
                            font-size: 2.8vw;
                            padding: 4% 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                        .ex_block2 {
                            border-bottom: 1px solid#dcdcdc;
                            font-size: 2.8vw;
                            padding: 4% 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                        .ex_block3 {
                            font-size: 2.8vw;
                            padding: 4% 0 0 0;
                            .ex_t {
                                margin: 0;
                                margin-bottom: 1%;
                            }
                            .ex_s {
                                color: #3e3e3e;
                                margin: 0;
                            }
                        }
                    }
                }
                a {
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    font-size: 2.8vw;
                    div {
                        background: #000;
                        padding: 5% 0;
                        margin-top: 8%;
                    }
                }
            }
        }
        // ----------------------------------------------
        .product_ex {
            font-family: "함초롬돋움";
            .ex_1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 50vh;
                .left1 {
                    width: 50%;
                    height: 100%;
                    background: #eceade;
                    position: relative;
                    img {
                        width: 90%;
                        position: absolute;
                        right: 0;
                        top: 25%;
                    }
                }
                .right1 {
                    width: 50%;
                    height: 100%;
                    background: #f6f5e8;
                    position: relative;
                    div {
                        position: absolute;
                        left: 6%;
                        top: 15%;
                        width: 90%;
                        h2 {
                            font-family: "Batang";
                            font-weight: normal;
                            font-size: 3vw;
                            border-bottom: 1px solid #a7a69e;
                            padding-bottom: 4%;
                            color: black;
                        }
                        .r_1 {
                            color: #6f6d64;
                            font-size: 2.3vw;
                            margin: 6% 0 7% 0;
                        }
                        .r_2 {
                            color: #a7a69e;
                            font-size: 2vw;
                            line-height: 28px;
                        }
                    }
                }
            }
            .ex_2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 50vh;
                .left2 {
                    width: 50%;
                    height: 100%;
                    background: #f6f5e8;
                    position: relative;
                    div {
                        position: absolute;
                        left: 6%;
                        top: 15%;
                        width: 90%;
                        h2 {
                            font-family: "Batang";
                            font-weight: normal;
                            font-size: 3vw;
                            border-bottom: 1px solid #a7a69e;
                            padding-bottom: 4%;
                            color: black;
                        }
                        .r_1 {
                            color: #6f6d64;
                            font-size: 2vw;
                            margin: 6% 0 7% 0;
                        }
                        .r_2 {
                            color: #a7a69e;
                            font-size: 2vw;
                            line-height: 28px;
                        }
                    }
                }
                .right2 {
                    width: 50%;
                    height: 100%;
                    background: #eceade;
                    position: relative;
                    img {
                        width: 90%;
                        position: absolute;
                        left: 0;
                        top: 25%;
                    }
                }
            }
        }
        .product_to {
            font-family: '함초롬돋움';
            position: relative;
            .up {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 3% 0% 1.5% 4.5%;
                .to_w {
                    width: 23%;
                    .to_w_t {
                        font-family: '함초롬바탕';
                        font-size: 3vw;
                    }
                    .to_w_e {
                        color: #a7a69e;
                        font-size: 2vw;
                        line-height: 3.4vw;
                        display: none;
                    }
                }
                .to_p {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                    text-align: center;
                    div {
                        width: 100%;
                        a {
                            text-decoration: none;
                            color: black;
                            img {
                                width: 100%;
                            }
                            p {
                                margin: 0;
                                font-size: 3vw;
                                display: none;
                            }
                        }
                    }
                }
            }
            .bar {
                width: 90%;
                margin: 1% auto 3% auto;
                background: #dcdcdc;
                height: 2px;
                position: relative;
                span {
                    border: 1px solid #000;
                    width: 20%;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}