/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*-----slide-----*/

* {
    box-sizing: border-box;
}

main .product_list {
    width: 100%;
    margin: 7% auto;
    position: relative;
}

main .product_list .A_product_list {
    width: 90%;
    margin: 0 auto;
}

main .product_list .A_product_list a .C_1 img {
    width: 70%;
    margin: 0 auto;
}

main .product_list .A_bar {
    width: 90%;
    height: 2px;
    background: #dcdcdc;
    margin: 2% auto;
    position: relative;
}

main .product_list .A_bar span {
    width: 20%;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    position: absolute;
    left: 0%;
    top: 0;
}

main .product_list .A_bar span:nth-of-type(2) {
    left: 40%;
    top: 0;
}

main .product_list .A_bar span:nth-of-type(3) {
    left: 80%;
    top: 0;
}

main .product_list .A_product_list a .C_1 .title {
    font-size: 0.85vw;
    margin: 0;
    margin-top: 5%;
    color: black;
    font-family: "함초롬돋움";
}

main .product_list .A_product_list a .C_1 .title:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

main .product_list .A_product_list a .C_1 .ex {
    font-size: 0.75vw;
    margin: 0;
    margin-top: 2%;
    color: black;
    font-family: "함초롬돋움";
}

main .product_list .A_product_list a {
    text-align: center;
    text-decoration: none;
    width: 25%;
}


/*---prev-next---*/

.slick-prev,
.slick-next {
    border: none;
    font-size: 0;
    width: 3.5%;
    height: 3vw;
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
}

.slick-prev {
    left: -5.5%;
}

.slick-next {
    right: -5.5%;
}

.slick-prev:after {
    content: '<';
    font-size: 1vw;
    color: #fff;
}

.slick-next:after {
    content: '>';
    font-size: 1vw;
    color: #fff;
}


/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */

@media(max-width:1024px) {
    /*-----slide-----*/
    * {
        box-sizing: border-box;
    }
    main .product_list {
        width: 100%;
        margin: 7% auto;
        position: relative;
    }
    main .product_list .A_product_list {
        width: 90%;
        margin: 0 auto;
    }
    main .product_list .A_product_list a .C_1 img {
        width: 70%;
        margin: 0 auto;
    }
    main .product_list .A_bar {
        width: 90%;
        height: 2px;
        background: #dcdcdc;
        margin: 2% auto;
        position: relative;
    }
    main .product_list .A_bar span {
        width: 20%;
        margin: 0;
        padding: 0;
        border: 1px solid #000;
        position: absolute;
        left: 0%;
        top: 0;
    }
    main .product_list .A_product_list a .C_1 .title {
        font-size: 1.5vw;
        margin: 0;
        margin-top: 5%;
        color: black;
        font-family: "함초롬돋움";
    }
    main .product_list .A_product_list a .C_1 .title:hover {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }
    main .product_list .A_product_list a .C_1 .ex {
        font-size: 1.05vw;
        margin: 0;
        margin-top: 2%;
        color: black;
        font-family: "함초롬돋움";
    }
    main .product_list .A_product_list a {
        text-align: center;
        text-decoration: none;
        width: 25%;
    }
    /*---prev-next---*/
    .slick-prev,
    .slick-next {
        border: none;
        font-size: 0;
        width: 5%;
        height: 4.5vw;
        transform: translateY(-50%);
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50%;
    }
    .slick-prev {
        left: -5.5%;
    }
    .slick-next {
        right: -5.5%;
    }
    .slick-prev:after {
        content: '<';
        font-size: 1.5vw;
        color: #fff;
    }
    .slick-next:after {
        content: '>';
        font-size: 1.5vw;
        color: #fff;
    }
}

@media(max-width:768px) {
    /*-----slide-----*/
    * {
        box-sizing: border-box;
    }
    main .product_list {
        width: 100%;
        margin: 7% auto;
        position: relative;
    }
    main .product_list .A_product_list {
        width: 90%;
        margin: 0 auto;
    }
    main .product_list .A_product_list a .C_1 img {
        width: 70%;
        margin: 0 auto;
    }
    main .product_list .A_bar {
        width: 90%;
        height: 2px;
        background: #dcdcdc;
        margin: 2% auto;
        position: relative;
    }
    main .product_list .A_bar span {
        width: 20%;
        margin: 0;
        padding: 0;
        border: 1px solid #000;
        position: absolute;
        left: 0%;
        top: 0;
    }
    main .product_list .A_product_list a .C_1 .title {
        font-size: 2.4vw;
        margin: 0;
        margin: 5% 0;
        color: black;
        font-family: "함초롬돋움";
    }
    main .product_list .A_product_list a .C_1 .title:hover {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }
    main .product_list .A_product_list a .C_1 .ex {
        font-size: 2vw;
        margin: 0;
        margin-top: 2%;
        color: black;
        font-family: "함초롬돋움";
        display: none;
    }
    main .product_list .A_product_list a {
        text-align: center;
        text-decoration: none;
        width: 25%;
    }
    /*---prev-next---*/
    .slick-prev,
    .slick-next {
        border: none;
        font-size: 0;
        width: 8%;
        height: 7vw;
        transform: translateY(-50%);
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50%;
    }
    .slick-prev {
        left: -5.5%;
    }
    .slick-next {
        right: -5.5%;
    }
    .slick-prev:after {
        content: '<';
        font-size: 2.5vw;
        color: #fff;
    }
    .slick-next:after {
        content: '>';
        font-size: 2.5vw;
        color: #fff;
    }
}

@media(max-width:480px) {
    /*-----slide-----*/
    * {
        box-sizing: border-box;
    }
    main .product_list {
        width: 100%;
        margin: 7% auto;
        position: relative;
    }
    main .product_list .A_product_list {
        width: 90%;
        margin: 0 auto;
    }
    main .product_list .A_product_list a .C_1 img {
        width: 90%;
        margin: 0 auto;
    }
    main .product_list .A_bar {
        width: 90%;
        height: 2px;
        background: #dcdcdc;
        margin: 2% auto;
        position: relative;
    }
    main .product_list .A_bar span {
        width: 20%;
        margin: 0;
        padding: 0;
        border: 1px solid #000;
        position: absolute;
        left: 0%;
        top: 0;
    }
    main .product_list .A_product_list a .C_1 .title {
        font-size: 3.5vw;
        margin: 0;
        margin: 5% 0;
        color: black;
        font-family: "함초롬돋움";
    }
    main .product_list .A_product_list a .C_1 .title:hover {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }
    main .product_list .A_product_list a .C_1 .ex {
        font-size: 2vw;
        margin: 0;
        margin-top: 2%;
        color: black;
        font-family: "함초롬돋움";
        display: none;
    }
    main .product_list .A_product_list a {
        text-align: center;
        text-decoration: none;
        width: 25%;
    }
    /*---prev-next---*/
    .slick-prev,
    .slick-next {
        border: none;
        font-size: 0;
        width: 11%;
        height: 10vw;
        transform: translateY(-50%);
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50%;
    }
    .slick-prev {
        left: -5.5%;
    }
    .slick-next {
        right: -5.5%;
    }
    .slick-prev:after {
        content: '<';
        font-size: 3.5vw;
        color: #fff;
    }
    .slick-next:after {
        content: '>';
        font-size: 3.5vw;
        color: #fff;
    }
}