/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*-----slide-----*/
*{box-sizing: border-box;}

.r_product{
    width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r_product a {
  width: 20%;
  padding: 2% 0;
  text-align: center;
  text-decoration: none;
  color: #3e3e3e;
  font-family: "함초롬돋움";
}

.r_product a img {
  width: 100%;
}
.r_product a .main_t {
  margin: 0;
  font-size: 0.8vw;
}

.r_product a .price {
  margin: 0;
  margin-top: 2%;
  font-size: 0.7vw;
}

.r_product a:hover {
  background: #f9f8ec;
}

/*---prev-next---*/
.r_product .slick-prev,
.r_product .slick-next{
    border: none;
    font-size: 0;
    width: 3%; height: 13%;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 9;
    background: rgba(0,0,0,0.7)
}

.r_product .slick-prev{left: 0;}
.r_product .slick-next{right: 0;}

.r_product .slick-prev:after{
    content: '<';
    font-size: 0.7vw;
    color: #fff;
}
.r_product .slick-next:after{
    content: '>';
    font-size: 0.7vw;
    color: #fff;
}
















